* {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
}

html {
    background-color: rgb(7, 0, 7);
    color: rgb(255, 230, 0);
    font-family: 'Fira Code', monospace;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

label {
    padding: 10px;
}

input {
    margin: 10px;
    text-align: center;
}

#campoPalpite {
    border: 2px solid rgb(240, 206, 17);
    border-radius: 20px;
    background-color: rgba(255, 238, 0, 0.589);
    width: 50px;
    height: 25px;
}

#envio {
    font-size: large;
    border: 3px solid black;
    border-radius: 8px;
    color: black;
    text-emphasis: bold;
    padding: 4px;
    background-color: rgb(255, 205, 40);
}